.block-content {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin: 30px 20px;
}

@media (max-width: 500px) {
    .block-content {
        flex-direction: column;
    }
}

.member-image img {
    height: 280px;
    margin: 10px;
    background-color: #ffffff;
    border: 2px solid #00204E;
    width: auto;
}

.member-info h2 {
    /* todo: move default font configs to separate/global stylesheet */
    font-family: "Noto Serif", serif;
    font-size: 26pt;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
}

.member-info h3 {
    font-family: "Noto Serif", serif;
    font-weight: bold;
    font-size: 20pt;
    margin-top: 0;
    margin-bottom: 0;
}