@font-face {
    font-family: 'Fira Code';
    src:  url('../fonts/FiraCode-Regular.woff2') format('woff2'),
          url('../fonts/FiraCode-Regular.woff') format('woff');
}

code {
    font-family: 'Fira Code', monospace;
    background-color: #dddddd;
}